header {
    font-family: Cabin;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;
    list-style: none;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 56px;
}

.list-item a {
    text-decoration: none;
    color: #0E0F13;
}

.container-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.btn {
    border-style: solid;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 8px;
    border-width: 1px;
    background-color: white;
    border-color: #DADADA;
}

.blue-btn {
    display: flex;
    padding: 18px 22px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
}

.content-title {
    margin-top: 234px;
    text-align: center;
    font-family: Inter;
    color: #0E0F13;
    font-family: Cabin;
    font-size: 64px;
    font-weight: 500;
    line-height: 100%;
    /* 64px */
    margin-bottom: 24px;
}

.content-title-2 {
    text-align: center;
    font-family: inter;
    color: #7F828A;
    font-family: Cabin;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 120px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-shrink: 24px;
    text-decoration: none;
    align-items: center;
    width: 100%;
}

.list-element {
    display: flex;
    align-items: center;
    gap: 22px;
}


.box-1 {
    display: flex;
    width: 416px;
    height: 789px;
    padding: 56px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #DADADA;
    background: #FDFDFD;
}

.plan-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
}

.price {
    display: flex;
    width: 304px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

h4 {
    width: 304px;
    color: #0E0F15;
    text-align: center;
    font-family: Cabin;
    font-size: 30px;
    font-weight: 500;
    line-height: 125%;
}

p1 {
    width: 304px;
    color: #7F828A;
    text-align: center;
    font-family: Cabin;
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
}

p2 {
    color: #0E0F15;
    text-align: right;
    font-family: Cabin;
    font-size: 64px;
    font-weight: 500;
    line-height: 125%;
    /* 80px */
    letter-spacing: -2.56px;
}

.mo {
    color: #7F828A;
    font-family: Cabin;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
    /* 22px */
    text-transform: uppercase;
}

.list {
    display: flex;
    justify-content: center;
    width: 304px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    list-style: none;
    padding: 0;
    line-height: 0px;
}

.get-started {
    display: flex;
    justify-content: center;
    padding: 18px 22px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

.box-2 {
    display: flex;
    justify-content: center;
    color: #F6FDFF;
    width: 416px;
    height: 817px;
    padding: 56px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #161A34;
    background: #161A34;
    text-align: center;
    font-family: Cabin;
    font-size: 30px;
    font-weight: 500;
    line-height: 125%;
}

h5 {
    width: 304px;
    color: #F6FDFF;
    text-align: center;
    font-family: Cabin;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}

p3 {
    color: #F6FDFF;
    text-align: right;
    font-family: Cabin;
    font-size: 64px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -2.56px;
}

.box-3 {
    display: flex;
    width: 416px;
    height: 789px;
    padding: 56px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #DADADA;
    background: #FDFDFD;
    width: 304px;
    color: #0E0F15;
    text-align: center;
    font-family: Cabin;
    font-size: 30px;
    font-weight: 500;
    line-height: 125%;
}

.element {
    margin-top: 50px;
    border: 1px solid #04959E;
    height: 1px;
    align-self: stretch;
}

.container {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 10px;
    display: flex;
    justify-content: left;
}

.text-content {
    display: flex;
    justify-content: right;
    margin-top: 15px;
    color: #7F828A;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}